.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
  display: flex;
}

.modal-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: auto;
  z-index: 11;
  width: 400px;
  padding: 30px;

  &__label {
    margin-right: auto;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  input {
    margin-bottom: 15px;
  }

  textarea {
    margin-bottom: 15px;
  }
}